/*
 * McCOLIN.COM
 * Stylesheet Details
 *
 * Colin McCloskey
 * Dec 2010
 */
 

body {
  background: #617EDA url(http://farm2.static.flickr.com/1240/553404266_75cc79deda_o.jpg) fixed repeat-x -600px -150px;
  background-position: fixed;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 1.2em;
  font-weight: lighter;
  padding: 100px;
}

.clear {
  clear: both;
}

/** EVERY PAGE EVERY PAGE EVERY PAGE EVERY PAGE EVERY PAGE EVERY PAGE EVERY PAGE EVERY PAGE **/

body {}

body #header {
  
}

h1 {
  background: #516009;
  color: #FFF;
  display: inline-block;
  font-size: 2.0em;
  font-weight: bold;
  line-height: 1.5;
  margin: 0 0 0.5em;
  padding: 0.2em 0.4em;
}
h1 a {
  color: #FFF;
  text-decoration: none;
}

/** FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER **/

#footer {
}
#footer .footnote {
  color: #FFF;
  font-size: 0.7em;
  padding: 1.0em 0.5em;  
}
#footer a {
  color: #FFF;
  padding: 0.20em 0.4em;
  text-decoration: none;
}
#footer a:hover {
  color: #FFD700;
}

#footer #footer-widgets .widget-container {
  background: rgba(255, 255, 255, 0.65);
  float: left;
  height: 100px;
  margin: 1em 20px 0 0;
  padding: 10px;
  width: 200px;
}

#photo-credit {
  bottom: 0;
  color: #FFF;
  font-size: 0.7em;
  padding: 0.5em 0.5em 0.5em 0.5em;
  position: fixed;
  right: 0;
}
#photo-credit:hover {
  background: rgba(0,0,0,0.5);
}


/** ACCESS NAV ACCESS NAV ACCESS NAV ACCESS NAV ACCESS NAV ACCESS NAV ACCESS NAV ACCESS NAV **/

.access {
  padding: 0 0 2em;
}
.access li {
  display: inline-block;
  list-style: none;
  padding: 0;
}
.access li a {
  color: #FFF;
  display: block;
  padding: 0.20em 0.40em;
  text-decoration: none;
}
.access li.current-menu-item a, .access li.current_page_parent a, .access li a:hover {
  background: #81A8EA;
  color: #FFD700;
}

#footer .access {
  padding: 4em 0 0;
}
#footer .access .widget-title {
  display: none;
}




/** HOME PAGE HOME PAGE HOME PAGE HOME PAGE HOME PAGE HOME PAGE HOME PAGE HOME PAGE  **/

body.home {
  font-size: 1.2em;
  font-weight: lighter;
}

body.home #header-nav {
  /* Hide navigational header when on the home page */
  display: none;
}

body.home h1 {
  margin: 0 0 1.0em;
}

.content {
  background: rgba(255,255,255,0.65);
  color: #000;
  font-size: 0.8em;
  line-height: 1.4;
  margin: 0 0 2em;
  padding: 0.4em 0.5em;
  width: 700px;
}
body.home .content {
  font-size: 1.0em;
  width: 550px;
}
.content h2 {
  color: #333;
  font-size: 1.4em;
}
.content .dateline, .content .metaline {
  font-size: 0.8em; 
  font-weight: normal;
}

.content p {
  margin-bottom: 0.5em;
}
body.home .content p {}

.content a {
  color: #617EDA;
  font-weight: bold;
  padding: 0.05em 0.1em;
  text-decoration: none;
}
.content a:hover {
  color: #00A;
  text-decoration: none;
}

.navigation.content {
  display: inline;
  margin-right: 1.0em;
}

.content .comments-container {
  margin-top: 2.0em;
}
.content #respond {
  margin-top: 1.5em;
}
.content #respond .form-allowed-tags {
  display: none;
}





